<span *ngIf = "!isEdit"> Name: {{user.name}}, email: {{user.email}} </span>
<span *ngIf = "isEdit">
 Name:<input type="text"  [(ngModel)] = "user.name" > 
 Email:<input type="email" [(ngModel)] = "user.email"> 
</span>  
<button (click) = "toggleEdit()">{{editButtonText}}</button>
<button (click) = "sendDelete()">delete</button>

 